* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: azure;
}

.navbar {
    height: 80px;
    width: 100%;
    background-color: rgb(180, 180, 197);
}

.navbar .logo {
    display: flex;
    justify-content: center;
}

.navbar .logo p {
    color: black;
    font-size: 1.3rem;
    font-weight: 1000;
}

.content .list{
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.content .list span a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

@media screen and (max-width: 1080px)  {
    .navbar {
        height: 150px;
        background-color: rgb(44, 78, 108);
    }

    .navbar .logo p {
        color: white;
        font-size: 1.3rem;
        font-weight: 1000;
    }

    .content {
        display: flex;
        justify-content: space-between;
    }

    .content .list {
        margin-left: 10px;
        flex-direction: column;
    }

    .content .side {
        margin-top: 20px;
        margin-right: 10px;
    }

    .content .side span a {
        color: white;
        font-size: 1.2rem;
    }

    .content .list span a {
        color: white;
    }
}

@media screen and (max-width: 680px)  {
    .navbar {
        height: 150px;
        background-color: rgb(26, 26, 26);
    }

    .navbar .logo p {
        color: white;
        font-size: 1.3rem;
        font-weight: 1000;
    }

    .content {
        display: flex;
        justify-content: space-between;
    }

    .content .list {
        margin-left: 10px;
        flex-direction: column;
    }

    .content .side {
        margin-top: 20px;
        margin-right: 10px;
    }

    .content .side span a {
        color: white;
        font-size: 1.2rem;
    }

    .content .list span a {
        color: white;
    }
}
